In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/h_fashion.csv')
df.head()

,Unnamed: 0,브랜드,제품명,가격,이미지링크
0,0,SJYP,컬러 콘트라스트 래글런 저지 탑,"175,500",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
1,1,DKNY WOMEN,숏 자켓 가디건,"495,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
2,2,TOMMY HILFIGER WOMEN,클린 패디드 피코트,"385,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
3,3,ck Calvin Klein WOMEN,울 모크넥 슬리브 스웨터 탑,"438,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
4,4,DKNY WOMEN,아웃포켓 싱글 트렌치 코트,"595,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...

In [3]:
df = df.drop('Unnamed: 0', axis=1)
df

,브랜드,제품명,가격,이미지링크
0,SJYP,컬러 콘트라스트 래글런 저지 탑,"175,500",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
1,DKNY WOMEN,숏 자켓 가디건,"495,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
2,TOMMY HILFIGER WOMEN,클린 패디드 피코트,"385,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
3,ck Calvin Klein WOMEN,울 모크넥 슬리브 스웨터 탑,"438,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
4,DKNY WOMEN,아웃포켓 싱글 트렌치 코트,"595,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
...,...,...,...,...
7139,TOMMY JEANS,[TH LAB] 타미힐피거 팝 프릴 블라우스,"192,500",https://cdn.hfashionmall.com/images/upload/rep...
7140,TOMMY HILFIGER WOMEN,[TH LAB] 크레스트 클래식 폴로 셔츠,"164,500",https://cdn.hfashionmall.com/images/upload/rep...
7141,TOMMY HILFIGER WOMEN,[TH LAB] 크레스트 클래식 폴로 셔츠,"164,500",https://cdn.hfashionmall.com/images/upload/rep...
7142,TOMMY JEANS,[TH LAB] 타미힐피거 모노그램 퍼 피코트,"570,500",https://cdn.hfashionmall.com/goods/THBR/14/20/...
7143,TOMMY JEANS,[TH LAB] 타미힐피거 모노그램 미니 스커트,"269,500",https://cdn.hfashionmall.com/goods/HFBR/21/10/...

In [6]:
# 정규표현식 이용해 한글 외의 문자는 전부 제거
df['제품명'] = df['제품명'].str.replace("[^ㄱ-ㅎ ㅏ-ㅣ 가-힣]", "")
df['제품명']

<ipython-input-6-d3404d1ce212>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['제품명'] = df['제품명'].str.replace("[^ㄱ-ㅎ ㅏ-ㅣ 가-힣]", "")

0         컬러 콘트라스트 래글런 저지 탑
1                  숏 자켓 가디건
2                클린 패디드 피코트
3           울 모크넥 슬리브 스웨터 탑
4            아웃포켓 싱글 트렌치 코트
               ...
7139        타미힐피거 팝 프릴 블라우스
7140         크레스트 클래식 폴로 셔츠
7141         크레스트 클래식 폴로 셔츠
7142       타미힐피거 모노그램 퍼 피코트
7143      타미힐피거 모노그램 미니 스커트
Name: 제품명, Length: 7144, dtype: object

In [7]:
# 결측치 확인
print(df.isnull().sum())

브랜드      0
제품명      0
가격       0
이미지링크    0
dtype: int64

In [8]:
# 중복된 샘플을 제거
df.drop_duplicates(subset=['제품명'], inplace = True)

print('제품의 개수 : ', len(df))

제품의 개수 :  2279

In [27]:
#리스트 컴프리헨션 사용
tshirts = [s for s in df['제품명'] if "티셔츠" in s]
df['category'] = tshirts
df

ValueError: ignored

In [10]:
pip install konlpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.4/19.4 MB 31.3 MB/s eta 0:00:00
Collecting JPype1>=0.7.0
  Downloading JPype1-1.4.1-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (465 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 465.6/465.6 KB 30.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.8/dist-packages (from konlpy) (1.21.6)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.8/dist-packages (from konlpy) (4.9.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from JPype1>=0.7.0->konlpy) (23.0)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.4.1 konlpy-0.6.0

In [14]:
pip install git+https://github.com/ssut/py-hanspell.git

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/ssut/py-hanspell.git
  Cloning https://github.com/ssut/py-hanspell.git to /tmp/pip-req-build-abzacmm8
  Running command git clone --filter=blob:none --quiet https://github.com/ssut/py-hanspell.git /tmp/pip-req-build-abzacmm8
  Resolved https://github.com/ssut/py-hanspell.git to commit 8e993cf46f97f9d665c15633a0fc78ac1b727713
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from py-hanspell==1.1) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->py-hanspell==1.1) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->py-hanspell==1.1) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->py-hanspell==1.1) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->py-hanspell==1.1) (2.10)
Building wheels for collected packages: py-hanspell
  Building wheel for py-hanspell (setup.py) ... done
  Created wheel for py-hanspell: filename=py_hanspell-1.1-py3-none-any.whl size=4870 sha256=03e941ff692e2627a409eab2657546a54c03f66204c08f28e680ba325cafcceb
  Stored in directory: /tmp/pip-ephem-wheel-cache-weszpok3/wheels/3f/a5/73/e4d2806ae141d274fdddaabf8c0ed79be9357d36bfdc99e4b4
Successfully built py-hanspell
Installing collected packages: py-hanspell
Successfully installed py-hanspell-1.1

In [17]:
from konlpy.tag import Okt
tokenizer = Okt()

In [21]:
sample = df['제품명'].sample(frac=0.75, random_state=42)

In [22]:
# 토큰화 수행

# Otk
tokenizer = Okt()
tokenized_t =[]
for sentence in sample:
    temp = tokenizer.morphs(sentence) # 1. 토큰화
    tokenized_t.append(temp)

print(tokenized_t[:10])

[['게스', '보이프렌드'], ['뽀르짜', '퀼팅', '반', '지갑'], ['벨라', '장', '지갑'], ['톤톤', '자수', '오', '버핏', '볼캡', '젯', '블랙'], ['그린', '캠페인', '오프', '화이트'], ['베이직', '인', '비서', '블', '크루', '삭스'], ['타미힐피거', '모노', '그램', '폴로', '셔츠'], ['캐시', '로고', '머플러'], ['미니', '메탈', '그레이'], ['아웃', '포켓', '조거', '웜업', '팬츠']]

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics