In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/h_fashion.csv')
df.head()

,Unnamed: 0,브랜드,제품명,가격,이미지링크
0,0,SJYP,컬러 콘트라스트 래글런 저지 탑,"175,500",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
1,1,DKNY WOMEN,숏 자켓 가디건,"495,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
2,2,TOMMY HILFIGER WOMEN,클린 패디드 피코트,"385,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
3,3,ck Calvin Klein WOMEN,울 모크넥 슬리브 스웨터 탑,"438,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
4,4,DKNY WOMEN,아웃포켓 싱글 트렌치 코트,"595,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...

In [3]:
df = df.drop('Unnamed: 0', axis=1)
df

,브랜드,제품명,가격,이미지링크
0,SJYP,컬러 콘트라스트 래글런 저지 탑,"175,500",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
1,DKNY WOMEN,숏 자켓 가디건,"495,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
2,TOMMY HILFIGER WOMEN,클린 패디드 피코트,"385,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
3,ck Calvin Klein WOMEN,울 모크넥 슬리브 스웨터 탑,"438,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
4,DKNY WOMEN,아웃포켓 싱글 트렌치 코트,"595,000",https://cdn.hfashionmall.com/goods/PVBR/23/02/...
...,...,...,...,...
7139,TOMMY JEANS,[TH LAB] 타미힐피거 팝 프릴 블라우스,"192,500",https://cdn.hfashionmall.com/images/upload/rep...
7140,TOMMY HILFIGER WOMEN,[TH LAB] 크레스트 클래식 폴로 셔츠,"164,500",https://cdn.hfashionmall.com/images/upload/rep...
7141,TOMMY HILFIGER WOMEN,[TH LAB] 크레스트 클래식 폴로 셔츠,"164,500",https://cdn.hfashionmall.com/images/upload/rep...
7142,TOMMY JEANS,[TH LAB] 타미힐피거 모노그램 퍼 피코트,"570,500",https://cdn.hfashionmall.com/goods/THBR/14/20/...
7143,TOMMY JEANS,[TH LAB] 타미힐피거 모노그램 미니 스커트,"269,500",https://cdn.hfashionmall.com/goods/HFBR/21/10/...